// References used in configs & process

params {
    // Defaults
    pubDirMode              = "copy"

    // Input Manager
    hostGenome              = "/ceph/ibmi/it/projects/ML_BI/06_PhageExpressionAtlas/Analysis_pipeline/input/reference/U00096-3.fasta"
    phageGenome             = "/ceph/ibmi/it/projects/ML_BI/06_PhageExpressionAtlas/Analysis_pipeline/input/reference/NC_000866-4.fasta"
    hostGFF                 = "/ceph/ibmi/it/projects/ML_BI/06_PhageExpressionAtlas/Analysis_pipeline/input/reference/U00096-3.gff3"
    phageGFF                = "/ceph/ibmi/it/projects/ML_BI/06_PhageExpressionAtlas/Analysis_pipeline/input/reference/NC_000866-4.gff3"

    pairedEnd               = false //if calling --pairedEnd, read pairs will be collected
    dRNAseq                 = false //if calling --dRNAseq, dRNA-seq-specific processing will be applied

    reads                   = "/ceph/ibmi/it/projects/ML_BI/06_PhageExpressionAtlas/Analysis_pipeline/input/reads/SRR21013140.fastq.gz"
    outputDir               = "/ceph/ibmi/it/projects/ML_BI/06_PhageExpressionAtlas/Analysis_pipeline/output"
    inputDir                = "/ceph/ibmi/it/projects/ML_BI/06_PhageExpressionAtlas/Analysis_pipeline/input"

    adapter1                = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    adapter2                = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"

    countFeature            = "gene"
    featureIdentifier       = "ID"
}